.grid {
    position: relative;
    background-color: rgb(182, 215, 226);
    padding-top: 10px;
}
.grid .grid-content {
    height: 400px;
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}
.grid .grid-content [class*="item"] {
    background-size: cover;
    position: relative;
}
.grid .grid-content [class*="item"] i, .grid .grid-content [class*="item"] svg {
    position: absolute;
    left: calc(50%);
    top: calc(50%);
    color: white;
    font-size: 0px;
    transition: all 0.8s;
}
.grid .grid-content [class*="item"]::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    opacity: 0;
    transition: all 0.8s;
}
.grid .grid-content [class*="item"]:hover:before {
    opacity: 0.3;
    cursor: pointer;
}
.grid .grid-content [class*="item"]:hover svg {
    left: calc(50% - 16px);
    top: calc(50% - 20px);
    font-size: 40px;
}
.grid .grid-content .items .layout-grid-overflow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: black;
    opacity: 0.5;
}
.grid .grid-content .items .layout-grid-overflow:hover {
    cursor: pointer;
}
.grid .grid-content .items .layout-grid-overflow .rest {
    width: 50px;
    height: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white !important;
    border: 3px solid white;
    border-radius: 5px;
    opacity: 0.8;
}
.grid .grid-content .item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
.grid .grid-content .item-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid .grid-content .item-3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}
