.grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap : 15px;
    list-style: none;
    margin: 0;
    padding: 0 50px;
    li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        transition: all .5s ease;
        position: relative;
        &:hover {
            cursor: pointer;
            transform: scale(1.025);
        }
        .img--container {
            line-height: 0;
            // here your ::before style inside this element
        }
        img {
            width: 100%;
        }
    }
}
